extends layout

block extraScripts
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
  script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
  style.
    .ui-dialog {
      z-index: 100;
    }

    .editor-preview img{
      max-height: 350px;
    }
    

block content
  #error-bar
    if error
      .error= error

  #title-bar
    h1= title

  mixin addPost
    .post-editor
      .post-title 
        label Post Title
        input#post-title(name="post-title" type=text placeholder="Post Title" value=post.title)
      .post-language
        label Post Language

        if post.langName
          span= post.langName
        else
          select#select-language
            each lang in mentor
              option(value=lang.language.key)= lang.language.name
      .post-title 
        label Mentor 
        span= mentorRef.replace(/\.md$/, "")
      textarea#addpost-area
      .button-container
        button#save-post(type="button" onclick="savePost()") Save Post


  if mentor && authenticated
      +addPost

  .dialog#image-upload-dialog(title="Image Upload" style="{z-index:  100;")
    p Select an image to upload
    input#select-image(name="image-upload" type="file" accept="image/*")
    button.dg-btn#image-upload(type="button" onclick="uploadImage()") Create
  
  script.
    function savePost(){
      $('#save-post').attr('disabled', 'disabled');
      $('#error-bar').html('');

      var post = {};
      post.title = $('#post-title').val().trim();
      post.fileName = '#{post.fileName}' ||  Date.now() + '_' + $('#post-title').val().replace(/[^a-z0-9]/gi, ' ').trim().replace(/\s+/gi, '_').toLowerCase()
      post.ref = '#{mentorRef}'.replace(/\.md$/, "");
      post.lang = '#{post.lang}' || $('#select-language').val();
      post.langName = '#{post.langName}' || $('#select-language').find('option:selected').text();
      post.content = simplemde.value();
      post.sha = '#{post.sha}'

      if (!post.title || post.title == ''){
        $('#error-bar').append($('<div class="error">Please enter a post title</div>'));
        $('#save-post').removeAttr('disabled');
        $(window).scrollTop(0);
        return;
      }

      console.log(post);

      $.ajax('savePost/', {
        method: 'POST',
        data: {post: JSON.stringify(post)},
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrow){
          console.error(textStatus);
          $('#error-bar').html('');
          $('#error-bar').append($('<div class="error">Failed to save post</div>'));
          $(window).scrollTop(0);

        $('#save-post').removeAttr('disabled');
        },
        success: function(data){
          console.log(data);
          window.location.href="/mentor/#{mentorRef}"
        } 
      });      
    }

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onloadend = function() {
          var base64result = reader.result.substr(reader.result.indexOf(',') + 1);
          createfile(input.files[0].name, "uploading a file", base64result)
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    function _replaceSelection(cm, active, startEnd, url) {
      if(/editor-preview-active/.test(cm.getWrapperElement().lastChild.className))
        return;

      var text;
      var start = startEnd[0];
      var end = startEnd[1];
      var startPoint = cm.getCursor("start");
      var endPoint = cm.getCursor("end");
      if(url) {
        end = end.replace("#url#", url);
      }
      if(active) {
        text = cm.getLine(startPoint.line);
        start = text.slice(0, startPoint.ch);
        end = text.slice(startPoint.ch);
        cm.replaceRange(start + end, {
          line: startPoint.line,
          ch: 0
        });
      } else {
        text = cm.getSelection();
        cm.replaceSelection(start + text + end);

        startPoint.ch += start.length;
        if(startPoint !== endPoint) {
          endPoint.ch += start.length;
        }
      }
      cm.setSelection(startPoint, endPoint);
      cm.focus();
    }


    function createfile(fileName, fileMessage, fileContent) {
      $('#error-bar').html('');

      var filedata = JSON.stringify({
        fileName: Date.now()+"_"+fileName,
        "content": fileContent
      });

      $('#image-upload').attr('disabled', 'disabled');

      $.ajax({
        url: 'saveMedia/',
        method: 'POST',
        data: {media: JSON.stringify(filedata)},
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrow){
          console.error(textStatus);
          $('#image-upload').removeAttr('disabled');
          $('#error-bar').html('');
          $('#error-bar').append($('<div class="error">Failed to upload image</div>'));
          $(window).scrollTop(0);
        },
        success: function(data){
          console.log(data.imagePath);
          if (data.imagePath){
            var cm = editor.codemirror;
            var stat = editor.getState(cm);
            var options = editor.options;
            var url = data.imagePath.replace('(', '%28').replace(')', '%29');
            _replaceSelection(cm, stat.image, options.insertTexts.image, url);
            $( "#image-upload-dialog" ).dialog("close");
            $('#image-upload').removeAttr('disabled');      
            $('#select-image').val("");    
            }
        } 
      });

      //console.log(filedata);
    }
    
    function uploadImage(){
      console.log("upload image");
      readURL(document.querySelector('#select-image'));
    }

    $(document).ready(function(){
      $( "#image-upload-dialog" ).dialog({
        autoOpen: false, modal: true
      });
    });

    let editor;

    var simplemde = new SimpleMDE(
      { 
        element: $("#addpost-area")[0] , 
        promptURLs: true, 
        toolbar: [
          "bold", "italic", "heading", "|", "quote", "unordered-list", "ordered-list", "|", "link", "image", "|", "preview", "side-by-side", "fullscreen", "guide",
          { name: "custom",
            action: function customFunction(currentEditor){
              console.log(currentEditor);
              editor = currentEditor;
              $( "#image-upload-dialog" ).dialog("open");
            },
            className: "fa fa-star",
            title: "Custom Button",
          }
        ]
      }
    );

    simplemde.value(!{JSON.stringify(content)});