extends layout

block content
  #error-bar
    if error
      .error= error

  #title-bar
    h1= title

  mixin mentorcontrols
    .view-mentor.mentor-controls
      .edit(onclick="console.log('edit:  "+ title +"')") 
        a(href="edit/" + mentorRef) Edit #{title}
      .separator |
      .delete(onclick="deleteMentor('" + mentorRef + "')") 
        a Delete #{title}

  mixin showposts
    .post-table
      .editbuttons
        button#create-post(type="button" onclick='window.location.href="addPost/' + mentorRef + '"') Add new post
      #post-list
        if posts.length == 0
          .no-posts
            | This mentor has no posts yet

        each post in posts
          .post-row
            .post-name
              a(href='editPost/'+ post.langName + '/' + post.fileName.replace(/\.md$/, ""))= post.title
            .post-info
              .post-date= moment(post.date).format('MM/DD/YYYY hh:mma')
            .post-info
              .post-lang= post.langName
            .post-info
              div
                a.delete-post(onclick="deletePost('" + post.langName + "','" + post.fileName.replace(/\.md$/, "") + "')") Delete Post

  

  if posts && authenticated
    +mentorcontrols
    +showposts

  .dialog#delete-dialog(title="Delete Post")
    p Are you sure you want to delete this post? 
    button.dg-btn#cancel-delete(type="button" onclick="$('#delete-dialog').dialog('close')") No
    button.dg-btn#delete-post(type="button" onclick="confirmDeletePost()") Yes


  .dialog#mentor-delete-dialog(title="Delete Mentor")
    p Are you sure you want to delete this mentor? 
    button.dg-btn#cancel-delete(type="button" onclick="$('#mentor-delete-dialog').dialog('close')") No
    button.dg-btn#delete-mentor(type="button" onclick="confirmDeleteMentor()") Yes


  script.
    function deletePost(lang, post){
      $('#delete-dialog').dialog('open');
      $('#delete-dialog').find('#delete-post').attr('data-ref', post);
      $('#delete-dialog').find('#delete-post').attr('data-lang', lang);
       
    }

    function confirmDeletePost(){
      let ref = $('#delete-dialog').find('#delete-post').attr('data-ref');
      let lang = $('#delete-dialog').find('#delete-post').attr('data-lang');
      console.log(ref);
      $.ajax('deletePost/' + lang + '/' + ref, {
        method: 'POST',
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrow){
          console.error(textStatus);
        },
        success: function(data){
          console.log(data);
          window.location.reload();
        } 
      });
    }

    function deleteMentor(mentor){
      $('#mentor-delete-dialog').dialog('open');
      $('#mentor-delete-dialog').find('#delete-mentor').attr('data-ref', mentor);
    }

    function confirmDeleteMentor(){
      let ref = $('#mentor-delete-dialog').find('#delete-mentor').attr('data-ref');
      console.log(ref);
       $.ajax('delete/' + ref, {
        method: 'POST',
        dataType: 'json',
        error: function(jqXHR, textStatus, errorThrow){
          console.error(textStatus);
        },
        success: function(data){
          console.log(data);
          window.location.reload();
        } 
      });
    }

    $(document).ready(function(){

      $( "#delete-dialog" ).dialog({
        autoOpen: false, modal: true
      });

       $( "#mentor-delete-dialog" ).dialog({
        autoOpen: false, modal: true
      });
    });